.collection{
    display: flex;
    align-items: center;
}


/*@media (max-width: 768px) {
    .collection .item {
        width: 45%;
       
    }
    .collection{
        display: inline;
        justify-content: center;
        align-items: center;
    }
}
*/
